<a href="/insights/new" class="btn btn-primary">Create New Insight</a>

<ul>
  <li>
        <!-- <li>Display insights</li> -->
    <li>
      <% insight.forEach((insight) => { %>
          <p><%= insight.title %></p>
          Description
          <%= insight.content %>
          
          <p></p>
     <% }) %>
  </li>
</ul>