<script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
<coingecko-coin-price-chart-widget  coin-id="bitcoin" currency="usd" height="300" locale="en"></coingecko-coin-price-chart-widget>

<a href="/insights/new" class="btn btn-primary">Create New Insight</a>

<ol>
        <!-- <li>Display insights</li> -->
    <ol>
      <% insight.forEach((insight) => { %>
          <p><a href="/insights/<%= insight.id %>"><%= insight.title %></a></p>
          Description
          <%= insight.content %>
          
          <p></p>
     <% }) %>
    <ol>
</ol>