<h1>Insights</h1>


<a href="/insights/new" class="btn btn-primary">Create New Insight</a>

<form action="/insights" method="POST">

  <div class="form-group">
    <label for="user">Name</label>
    <select name="userId" id="user" class="form-control" required>
      <% users.forEach(function(user) { %>
        <option value="<%= user.id %>"><%= user.name %></option>
      <% }) %>
    </select>
    <p>If your name doesn't show up, please <a href="/users/new">sign up to be an user.</a></p>
  </div>

    <div class="form-group">
        <label for="title"Title>Title</label>
        <input type="text" class="form-control" id="title" name="title" require>
    </div>

    <div class="form-group">
        <label for="content"Title>Content</label>
        <input type="text" class="form-control" id="content" name="content" require>
    </div>

    <input type="submit" class="btn btn-primary">
</form>