<h2>EDIT FORM </h2>

<form method="POST", action="/coins/<%= coins.id %>/?_method=PUT">
    <label>Name</label>
    <input type="text" name="name" value="<%= coins.name %>">

    <label>Description</label>
    <input type="text" name="description" value="<%= coins.description %>">

    <input type="submit">
</form>