<h2>Show Specific Coins:</h2>

<h3><%= myCoin.name %></h3>
<p><%= myCoin.description %></p>

<form action="/coins/<%= myCoin.id %>/?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
</form>


<form method="POST" action="/faves">

    <input hidden value="<%= myCoin.id %>" name="coinId" />
    <button type="submit">Fave this Movie</button>
</form>
